<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        
        <!-- Left links -->
        <form action="/route" method="POST" class="d-flex  input-group w-auto" >
            <input
              type="search",
              name="source",
              class="form-control rounded"
              placeholder="Source"
              aria-label="Search"
              aria-describedby="search-addon"
            />
            <input
              type="search",
              name="destination"
              class="form-control rounded"
              placeholder="Destination"
              aria-label="Search"
              aria-describedby="search-addon"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </span>
          </form>
        
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/map">MAP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">logout</a>
        </li>
         
        
      </ul>
  
        <!-- Notifications -->
        
        <!-- Avatar -->
        
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>